<!DOCTYPE html>
<html lang="it">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Enrico Guidi | Curriculum Vitae</title>
    <!-- Integrazione con Google Fonts per il font Roboto -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <!-- HEADER -->
    <header>
        <div class="header-left">
            <img src="{{ url_for('static', filename='img/logo.png') }}" alt="InsightUp Logo" class="logo">
        </div>
        <div class="header-right">
            <div class="menu-icon">&#9776;</div>
        </div>
    </header>

    <!-- SEZIONE PROFILO -->
    <main class="profile-section">
        <div class="profile-container">
            <!-- Immagine del profilo -->
            <div class="profile-image">
                <img src="{{ url_for('static', filename='img/profilo.JPG') }}" alt="Logo Profilo">
            </div>
            <!-- Testo del profilo -->
            <div class="profile-text">
                <h1>Ing. Enrico Guidi</h1>
                <p><strong>Data di nascita:</strong> 19/02/1999 | <strong>Nazionalità:</strong> Italiana</p>
                <p>📍 Via Brigata Salerno, n. 34/12, codice postale: 16147, Genova, Italia</p>
                <p>📞 +39 3453185732</p>
                <p>✉️ <a href="mailto:enrico.guidi.ing@gmail.com">enrico.guidi.ing@gmail.com</a></p>
                <p class="intro">
                    <em>
                        Project Manager e Ingegnere Gestionale con consolidata esperienza nel Controllo di Gestione, 
                        nella pianificazione economico-finanziaria e nell’analisi dei dati aziendali. 
                        Specializzato nel Project Management e appassionato di Data Analysis, sviluppo soluzioni digitali per l’ottimizzazione dei processi aziendali e 
                        delle decisioni strategiche. Utilizzo strumenti di programmazione come Python e SQL per progettare sistemi di monitoraggio di budget, 
                        KPI e performance operative, con un approccio orientato all’efficienza e alla creazione di valore sostenibile per l’impresa.
                    </em>
                </p>
            </div>
        </div>
    </main>
    
    <!-- PROFESSIONAL EXPERIENCE -->
    <section class="experience-section">
        <h2>Professional Experience</h2>
        <!-- CARD RSI -->
        <div class="experience-card">
            <div class="card-left">
                <img src="{{ url_for('static', filename='img/logo_rsi.png') }}" alt="RSI Logo">
            </div>
            <div class="card-right">
                <h3>Ingegnere Gestionale | RSI SRL</h3>
                <p><em>Liguria, Italia • Dic. 2023 – Mar. 2025</em></p>
                <ul>
                    <li><strong>Controllo di Gestione</strong> nei settori <em>turistico-ricettivo</em> e <em>logistica dei trasporti</em></li>
                    <li>Sviluppo di modelli predittivi in Python/Matlab (Machine Learning, Deep Learning)</li>
                    <li><strong>Creazione di tool su misura</strong> in Python ed Excel per l’analisi automatizzata</li>
                    <li>Metodi decisionali: <strong>AHP</strong>, <strong>Montecarlo</strong>, <em>What-if analysis</em></li>
                    <li><strong>Project Manager</strong>
                        <ul>
                            <li>Coordinamento e sviluppo servizi di consulenza</li>
                            <li>Collaborazione con JEME [Bocconi]</li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
        <!-- CARD LAUREA MAGISTRALE -->
        <div class="experience-card">
            <div class="card-left">
                <img src="{{ url_for('static', filename='img/logo_unige.png') }}" alt="Università di Genova Logo">
            </div>
            <div class="card-right">
                <h3>Laurea Magistrale | Ingegneria Gestionale</h3>
                <p><em>Università degli Studi di Genova (AA: 2023–2024)</em></p>
                <ul>
                    <li><strong>Tesi:</strong> <em>Hotel engineering: un approccio olistico per la gestione efficiente e sostenibile delle strutture alberghiere</em></li>
                    <li><strong>Relatore:</strong> Lucia Cassetari</li>
                    <li><strong>Focus:</strong> Studio su un hotel in provincia di Savona con approccio ingegneristico alla gestione alberghiera.
                        Utilizzo di Python, SWOT, segmentazione clientela e modelli di Machine Learning per strategie di massimizzazione profitti e occupazione.
                    </li>
                </ul>
            </div>
        </div>
        <!-- CARD LAUREA TRIENNALE -->
        <div class="experience-card">
            <div class="card-left">
                <img src="{{ url_for('static', filename='img/logo_camera_commercio.jpeg') }}" alt="Camera di Commercio di Genova">
            </div>
            <div class="card-right">
                <h3>Laurea Triennale | Ingegneria Gestionale</h3>
                <p><em>Università di Genova (AA: 2020–2021)</em></p>
                <ul>
                    <li><strong>Tesi:</strong> <em>I costi del Covid-19 per le PMI</em></li>
                    <li><strong>Relatore:</strong> Dr. Maurizio Caviglia - Segretario generale Camera di Commercio</li>
                    <li><strong>Focus:</strong> Analisi dell’impatto del Covid-19 sulle PMI italiane.
                        Evidenziate restrizioni, crisi economiche e accelerazione dell’e-commerce e marketing digitale attraverso l'analisi dei bilanci.
                    </li>
                </ul>
            </div>
        </div>
    </section>
    
    <!-- COMPETENZE PROFESSIONALI -->
    <section class="skills-section">
        <h2>Competenze Professionali</h2>
        <div class="skills-grid">
            <!-- Digitali -->
            <div class="skill-card">
                <img src="{{ url_for('static', filename='img/skills_digitali.png') }}" alt="Competenze Digitali">
                <h3>Digitali</h3>
                <p>Pacchetto Office, Python, MySQL, AI</p>
            </div>
            <!-- Metodologiche -->
            <div class="skill-card">
                <img src="{{ url_for('static', filename='img/skills_metodologiche.png') }}" alt="Competenze Metodologiche">
                <h3>Metodologiche</h3>
                <p>Project Management, Data Analyst, Data Engineering, Analisi aziendale, Ottimizzazione dei processi</p>
            </div>
            <!-- Organizzative & Relazionali -->
            <div class="skill-card">
                <img src="{{ url_for('static', filename='img/skills_organizzative.png') }}" alt="Competenze Organizzative">
                <h3>Organizzative & Relazionali</h3>
                <p>Problem solving, Gestione team, Comunicazione efficace, Pianificazione, Leadership</p>
            </div>
            <!-- Lingue -->
            <div class="skill-card">
                <img src="{{ url_for('static', filename='img/skills_lingue.png') }}" alt="Competenze Linguistiche">
                <h3>Lingue</h3>
                <p>Italiano (madrelingua), Inglese (B1)</p>
            </div>
        </div>
    </section>
    
    <!-- ULTERIORI INFORMAZIONI -->
    <section class="extra-info-section">
        <h2>Ulteriori Informazioni</h2>

        <!-- Riquadro con testo a sinistra e "carousel" a destra -->
        <div class="info-card">
            <div class="info-card-content">
                <!-- Testo a sinistra -->
                <div class="info-text">
                    <h3> Patenti & Abilitazioni</h3>
                    <ul>
                        <li>Patenti A2, B
                        <li>Abilitazione alla conduzione di carrelli elevatori semoventi – carrelli industriali</p>
                    <ul>
                </div>

                <!-- Carousel a destra -->
                <div class="info-slider">
                    <div class="slider-container">
                        <!-- Se inserisci UNA foto sola, nessun scroll; Più foto = scroll orizzontale -->
                        <img src="{{ url_for('static', filename='img/patente1.png') }}" alt="Patente 1">
                    </div>
                </div>
            </div>
        </div>

        <!-- Altri riquadri con la stessa logica -->
        <div class="info-card">
            <div class="info-card-content">
                <div class="info-text">
                    <h3>Nuotatore agonista</h3>
                    <p>"Breve descrizione del tuo status di nuotatore agonista".</p>
                </div>
                <div class="info-slider">
                    <div class="slider-container">
                        <img src="{{ url_for('static', filename='img/nuoto1.png') }}" alt="Nuoto 1">
                        <!-- Puoi aggiungere quante foto vuoi -->
                    </div>
                </div>
            </div>
        </div>

        <div class="info-card">
            <div class="info-card-content">
                <div class="info-text">
                    <h3>Brevetti</h3>
                    <ul>
                        <li>Brevetto P-international Pad Lifeguard (07/04/2016)</li>
                        <li>Brevetto MIP-Surf Lifeguard (27/05/2016)</li>
                    </ul>
                </div>
                <div class="info-slider">
                    <div class="slider-container">
                        <img src="{{ url_for('static', filename='img/brevetto1.jpeg') }}" alt="Brevetto 1">
                    </div>
                </div>
            </div>
        </div>
    </section>


    
    <!-- SOCIAL MEDIA LINKS -->
    <section class="social-media-section">
        <h2>Collegati con me</h2>
        <div class="social-media-links">
            <a href="https://www.facebook.com/yourPage" target="_blank" rel="noopener noreferrer" class="social-link">
                <img src="{{ url_for('static', filename='img/facebook-icon.png') }}" alt="Facebook">
            </a>
            <a href="https://www.instagram.com/yourPage" target="_blank" rel="noopener noreferrer" class="social-link">
                <img src="{{ url_for('static', filename='img/instagram-icon.png') }}" alt="Instagram">
            </a>
            <a href="https://www.linkedin.com/in/yourProfile" target="_blank" rel="noopener noreferrer" class="social-link">
                <img src="{{ url_for('static', filename='img/linkedin-icon.png') }}" alt="LinkedIn">
            </a>
            <a href="https://x.com/yourProfile" target="_blank" rel="noopener noreferrer" class="social-link">
                <img src="{{ url_for('static', filename='img/x-icon.png') }}" alt="X">
            </a>
        </div>
    </section>
    
    <!-- FOOTER -->
    <footer class="footer">
        <p>
            Autorizzo il trattamento dei dati personali ai sensi del D.Lgs 30/06/2003, n. 196 “Codice in materia di protezione dei dati personali” coordinato con il D.Lgs 101/2018, e dell'Art. 13 del GDPR (Regolamento UE 2016/679) ai fini della ricerca e selezione del personale.
        </p>
    </footer>
</body>
</html>

